.editGroup__ {
  &wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 130px calc((100vw - 1358px) / 2) 0 calc((100vw - 1358px) / 2);
  }

  &groupHeader {
    height: 126px;
    display: flex;
    align-items: baseline;
    gap: 26px;
    margin-bottom: 59px; // поменятб
    input {
      margin-top: 18px;
    }
  }

  &groupHeader__buttons {
    display: flex;
    flex-direction: row;

    button {
      margin-right: 20px;
    }
  }

  &group-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &subject {
    font: var(--text-header-small);
    color: var(--ash-light);

    text-overflow: ellipsis;

    white-space: nowrap;
    overflow: hidden;
  }

  &group {
    font: var(--text-header-large);
    color: var(--ash);
    min-width: auto;
    max-width: 1142px;

    flex: 0 0 auto;

    text-overflow: ellipsis;

    white-space: nowrap;
    overflow: hidden;
  }

  &studentArea {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    display: flex;
    justify-content: flex-start;
    margin: 72px 0 72px 22px;

    & li:not(:first-child) {
      margin-top: 15px;
    }
  }

  &checkboxArea {
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    label {
      height: 24px;
      display: flex;
      align-items: center;
    }
  }

  &student {
    list-style-position: outside;
  }

  &studentInputArea {
    display: flex;
    align-items: baseline;

    & input:first-child {
      margin-right: 15px;
    }
  }
}