{% extends 'base.html.twig' %}

{% block body %}
    <div
            id="groupsListPage"
            data-teacher-id= {{ teacherId }}
            data-user-first-name={{ userFirstName }}
            data-user-last-name={{ userLastName }}
            data-groups={{ groups }}
    ></div>
{% endblock %}