.intro__ {
    &wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 191px calc( (100vw - 615px) / 2 ) 0 calc( (100vw - 615px) / 2 )
    }
    &images {
        width: 264px; height: 255px;
    }
    &arrows {
        width: 76px; height: 76px;
        cursor: pointer;
    }
    &wrapper h1 {
        font: var(--text-header-small);
        color: var(--electric-default);
        margin: 59px 0 19px 0
    }
    &textarea {
        display: flex;
        justify-content: space-between;
        width: 649px;
    }
    &textarea p {
        text-align: center;
        width: 359px;
    }
    &secondText {
        width: 393px!important;
    }
    &dots {
        display: flex;
        flex-direction: row;
    }
    &dots div {
        width: 11px; height: 11px;
        border-radius: 11px;
        background-color: var(--ash-lighter);
        margin: 41px 0 32px 0;
    }
    &dots div:first-child {
        margin-right: 5px
    }
    &dot-active {
        background-color: var(--electric-default)!important;
        cursor: pointer
    }
}