.personArea__ {
    &wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        p {
            margin-right: 13px;
        }
    }
    &photo {
        width: 40px;
        height: 40px;
    }
}