@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: 0;
  font-size: 20px;
}

:root {

    /* старые */

    --shinji: rgba(255, 255, 255, 1);
    --gendo-default: rgba(66, 72, 78, 1);
    --ayanami-default: rgba(141, 190, 220, 1);
    --ayanami-dark: rgba(64, 138, 182, 1);
    --ayanami-20: rgba(48, 107, 141, 0.2);
    --kaoru-default: rgba(141, 152, 162, 1);
    --kaoru-80: rgba(141, 152, 162, 0.8);
    --kaoru-60: rgba(141, 152, 162, 0.6);
    --kaoru-20: rgba(141, 152, 162, 0.2);
    --asuka-default: rgba(225, 63, 42, 1);
    --asuka-dark: rgba(168, 37, 20, 1);
    --grey-shark: rgba(217, 217, 217, 1);
    --misato-default: rgba(172, 135, 210, 1);
    --misato-dark: rgba(130, 82, 180, 1);
    --misato-60: rgba(172, 135, 210, 0.6);

    /* новые */

    --ash-lighter:      #E3E3E3;
    --ash-light:        #7E7E7E;
    --ash-default:      #262626;

    --electric-light:   #6697FF;
    --electric-default: #3A72E8;
    --electric-dar:     #0038AC;

    --text-header-large: 700 90px/126px "Roboto", sans-serif;
    --text-header-normal: 700 60px/71px "Roboto", sans-serif;
    --text-header-small: 700 40px/48px "Roboto", sans-serif;
    --text-text-normal-bold: 700 20px/24px "Roboto", sans-serif;
    --text-text-normal-medium: 500 20px/24px "Roboto", sans-serif;
    --text-text-normal-regular: 400 20px/24px "Roboto", sans-serif;
    --text-button-large: 400 17px/20px "Roboto", sans-serif;
    --text-button-normal: 14px/17px "Roboto", sans-serif;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
  }