@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: 0;
  font-size: 20px;
}

:root {

    --ash-lighter:      #E3E3E3;
    --ash-light:        #7E7E7E;
    --ash-default:      #262626;

    --electric-light:   #6697FF;
    --electric-default: #3A72E8;
    --electric-dar:     #0038AC;

    --forest-defalut:   #89C02E;

    --text-header-large: 700 90px/126px "Roboto", sans-serif;
    --text-header-normal: 700 60px/71px "Roboto", sans-serif;
    --text-header-small: 700 40px/48px "Roboto", sans-serif;
    --text-text-normal-bold: 700 20px/24px "Roboto", sans-serif;
    --text-text-normal-medium: 500 20px/24px "Roboto", sans-serif;
    --text-text-normal-regular: 400 20px/24px "Roboto", sans-serif;
    --text-button-large: 400 17px/20px "Roboto", sans-serif;
    --text-button-normal: 14px/17px "Roboto", sans-serif;

  }
  
  body {
    font-family: 'Roboto', sans-serif;
  }