.groups__ {
  &wrapper {
    display: flex;
    flex-direction: column;
    padding: 130px calc((100vw - 1358px) / 2) 0 calc((100vw - 1358px) / 2);
  }

  &groupHeader__buttons {
    display: flex;
    flex-direction: row;
  }
}