.marksTable__ {
    &wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 130px calc( (100vw - 1358px)/2 ) 0 calc( (100vw - 1358px)/2 );
    }
}