.marksTable__ {
    &wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 1358px;
        margin: 130px auto 0 auto;
        table {
            margin-top: 93px;
        }
    }
    &header {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    &buttons {
        display: flex;
        margin-top: 24px;
        button {
            margin-left: 20px;
        }
    }
    &groupHeader {
        h4 {
            font: var(--text-header-normal)
        }
        p {
            text-decoration: underline;
            color: var(--ash-light);
            cursor: pointer;
        }
    }
}