.auth__ {
    &main-wrapper {
        height: 100vh;
        width: 446px;
        margin: 0 auto 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font: var(--text-text-normal-regular)
    }

    &main-wrapper > div {
        margin-bottom: 22px;
    }

    &header {
        font: var(--text-header-normal);
        color: var(--electric-default);
        margin-bottom: 55px
    }
    &registerArea {
        display: flex;
        width: 92%;
        justify-content: space-between;
        margin-bottom: 30px !important
    }
    &registerArea p:last-child {
        text-decoration: underline;
        cursor: pointer;
        font: var(--text-text-normal-medium);
    }
    &info-input{
        display: flex;
        align-items: center;
        position: relative;
        gap: 7px;
    }
    &input-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 446px;
        gap: 10px;
    }
}