$dropDownAnimationTime: 220ms;

.dropdown__ {
    &wrapper {
        display: none;
        position: absolute;
        z-index: 4;

        transform: scale(0);
        transform-origin: bottom left;
        transition: $dropDownAnimationTime;

        h6 {
            font: var(--text-text-normal-bold)
        }
        p {
            font: var(--text-text-normal-regular)
        }
    }
    &content {
        min-height: 60px;
        min-width: 211px;

        display: flex;
        flex-direction: column;

        border: 1px solid var(--ash-default);
        border-radius: 20px;
        background-color: white;

        padding: 20px 37px 25px 37px;
        h6 {
            margin-bottom: 6px
        }
    }
    &show {
        display: block;
    }
    &open {
        transform: scale(1);
    }
}