.popover {
  display: flex;
  align-items: center;
  position: relative;
}
.icon{
     display: flex;
     align-items: center;
     padding-top: 8px;
}
.wrapper {
  padding: 20px 37px 56px 37px;
  border-radius: 20px;
  border: 1px solid var(--ash-default, #262626);

  display: flex;
  flex-direction: column;
  gap: 24px;

  position: absolute;
  left: 31px;

  transform: scale(1, 0);
  transform-origin: left;
  transition: 200ms;
  h3 {
    font: var(--text-text-normal-bold);
    color: var(--ash-default);
  }
  p {
    width: 305px;
    font: var(--text-text-normal-regular);
    color: var(--ash-default);
  }
}
.wrapper_opened {
     transform: scale(1)
}
.image {
     display: block;
     cursor: pointer;
}
