.groups__ {
    &wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 130px calc( (100vw - 1358px)/2 ) 0 calc( (100vw - 1358px)/2 );
    }
    &header {
        display: flex;
        align-items: center;
        width: 100%;
        font: var(--text-text-normal-bold);
        color: var(--ash-light)
    }
    &header h4 {
        margin-right: auto;
    }
    &personArea {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &personArea p {
        margin-right: 13px;
    }

    &photo {
        width: 40px;
        height: 40px;
    }
}