.inputArea__ {
    &header {
        position: relative;
        margin: 0 0 -10px 23px;
        background-color: white;
        width: fit-content;
        padding: 0 6px 0 6px;
        color: var(--ash-default);
    }
    &input {
        width: 423px;
        height: 81px;
        border-radius: 6px;
        border-color: var(--ash-default);
        padding-left: 23px;
    }
    &group, &subject {
        border: none;
        border-radius: 0px;
        border-bottom: 2px solid black;
    }
    &group {
        font: var(--text-header-large);
        color: var(--ash-default);
        padding: 4px 0 8px 0 !important;
    }
    &subject {
        height: 48px;
        font: var(--text-header-small);
        color: var(--ash-light);
        padding: 4px 0 7px 0 !important;
    }
    &checkbox {
        width: 24px; height: 24px;
        color: var(--ash-lighter);
        background-color: var(--ash-default);
    }
}