.inputArea__ {
    &header {
        position: relative;
        margin: 0 0 -10px 23px;
        background-color: white;
        width: fit-content;
        padding: 0 6px 0 6px;
        color: var(--ash-default);
    }
    &input {
        width: 423px;
        height: 81px;
        border-radius: 6px;
        box-shadow: none;
        border-color: var(--ash-default);
        padding-left: 23px;
    }
    &group {
        font: var(--text-header-small);
        color: var(--ash-light);
    }
    &subject {
        font: var(--text-header-large);
        color: var(--ash)
    }
}