.groups__ {
    &wrapper {
        display: flex;
        width: 1358px;
        flex-direction: column;
        margin: 130px auto 0 auto;
    }
    &groupHeader__buttons {
        display: flex;
        flex-direction: row;
        & button {
          margin-right: 20px;
        }
    }

    &group {
        cursor: pointer;
        list-style-type: none;
        display: flex;
        align-items: baseline;
        gap: 30px;
        max-width: 1364px;
        & span{
          text-overflow: ellipsis;

          white-space: nowrap;
          overflow: hidden;
        }

        & >:first-child {
          font: var(--text-header-large);
        }

        span:first-child {
          display: block;
          max-width: 1191px;
          flex: 0 0 auto;
        }

        & >:last-child {
          font: var(--text-header-small);
          color: var(--ash-light);
        }

        span:last-child {
          display: block;
        }
    }
    &groupArea {
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        display: flex;
        justify-content: flex-start;
        margin: 72px 0 72px 22px;
    }
    
    &groupInputArea {
        padding: 18px 0 13px 0;
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
        & input:first-child {
          margin-right: 20.5px;
          font: var(--text-header-large)!important;
        }
        &input:last-child {
          font: var(--text-header-small)!important;
          color: var(--ash-light);
        }
    }
    &checkboxArea {
        margin: 1px 30px 0 0;
        display: flex;
        flex-direction: column;
        & > label {
          display: flex;
          align-items: center;
          flex-grow: 1;
        }
      }
}