.table__ {
    &tables {
        width: 100%;
        height: 100%;
        display: flex;

    }
    &plug {
        width: 100%;
        border: none;
    }
    &wrapper {
        text-align: center;
        min-width: fit-content;
        border-collapse: collapse;
        tr {
            th, td {
                border: 1px black solid;
            }
            td {
                text-align: center;
                padding: 20px 0 8px 0;
            }
        }
        thead {
            tr {
                th {
                    border-top: none;
                }
            }
        }
        tbody {
            tr {
                td {
                    border-bottom: none;
                }
            }
        }
    }
    &students {
        thead {
            tr {
                th {
                    text-align: left;
                    border-left: none;
                    padding-bottom: 9px; 
                    width: 339px;
                }
            }
        }
        tbody {
            tr {
                td {
                    text-align: left;
                    border-left: none;
                }
            }
        }
    }
    &tasks {
        margin: 0 -1px 0 -1px;
        width: 100%;
        thead {
            overflow-x: hidden;
            tr {
                th {
                    padding-bottom: 9px;
                }
            }
        }
    }
    &finalMarks {
        min-width: 89px;
        thead {
            tr {
                th {
                    border-right: none;
                    padding-bottom: 9px;
                }
            }
        }
        tbody {
            tr {
                td {
                    border-right: none;
                }
            }
        }
    }
}