.table__ {
    &tables {
        width: 100%;
        height: 100%;
        display: flex;

    }
    &wrapper {
        min-width: fit-content;
        border-collapse: collapse;
        tr {
            th, td {
                border: 1px black solid;
            }
            td {
                padding: 20px 0 8px 0;
            }
        }
    }
    &head {
        tr {
            th {
                border-top: none;
            }
        }
    }
    &tasks {
        width: 100%;
        margin: 0 -1px 0 -1px;
        thead {
            tr {
                th:last-child {
                    width: 100%;
                }
            }
        }
    }
}