$toastAnimationTime: 220ms;

.toast__ {
    &wrapper {
        display: none;
        position: absolute;
        z-index: 6;

        top: 85%;
        left: calc((100% - 200px) / 2);

        transform: scale(1, 0);
        transform-origin: left;
        transition: $toastAnimationTime;

        font: var(--text-text-normal-regular)
    }
    &show {
        display: block;
    }
    &open {
        transform: scale(1);
    }
    &content {
        height: 60px;
        width: 220px;

        display: flex;
        justify-content: center;
        align-items: center;


        border: 1px solid var(--ash-default);
        border-radius: 20px;
        background-color: white;
    }
    &cross {
        width: 14px;
        height: 14px;
        content: 'x';
    }
}