//Ash
$ashDefault: #262626;
$ashLight: #7E7E7E;
$ashLighter: #E3E3E3;

//Electric
$electricDefault: #3A72E8;
$electricDark: #0038AC;
$electricLight: #6697FF;

//Forest
$forestDefault: #89C02E;

//While
$whiteDefault: #FFFFFF;