// TEXT SCALE
$text-header-large: 700 90px/126px "Roboto", sans-serif;
$text-header-normal: 700 60px/71px "Roboto", sans-serif;
$text-header-small: 700 40px/48px "Roboto", sans-serif;
$text-text-normal-bold: 700 20px/24px "Roboto", sans-serif;
$text-text-normal-medium: 500 20px/24px "Roboto", sans-serif;
$text-text-normal-regular: 400 20px/24px "Roboto", sans-serif;
$text-button-large: 400 17px/20px "Roboto", sans-serif;
$text-button-normal: 14px/17px "Roboto", sans-serif;